<html>
<form action="/test" method="post">
    
<h1>hi</h1>
<input type="text" name="namebox" id="namebox" required placeholder="Enter the name">
<br>
<input type="password" placeholder="Enter your password" required>
<br>
<input type="email" placeholder="Enter your email" required name="email">
<br>
<textarea placeholder="Description"></textarea>
<br>
<input type="number" min="1">
<br>
<a href="/Page2">Click here</a>
<select name="First" >
    <option value="kjkj">Testing1</option>  
    <option value="Two">Testing2</option>
</select>
<input type="submit" value="Click" onsubmit="/test">
</form>
</html>